#projslides{
margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 35px;
    font-family: 'Black Han Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Poppins|Slabo+27px|Open+Sans|Russo+One');

h1 {
text-align: center;
font-family: 'Do Hyeon', sans-serif;
    font-weight: bolder;
    background-image: url("port.jpg");
    background-size: 100%;
    font-size: 100px;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

h2{
text-align: center;
font-family: 'Do Hyeon', sans-serif;
    font-weight: bolder;
    font-size: 60px;

}

h3{
text-align: center;
font-family: 'Do Hyeon', sans-serif;
    font-size: 60px;

}

h4{
text-align: center;
font-family: 'Do Hyeon', sans-serif;
    font-size: 60px;
}

h5{
text-align: center;
font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    font-size: 50px;

}


h6{
text-align: center;
font-family: 'Do Hyeon', sans-serif;
    font-weight: bold;
    font-size: 50px;

}

p{
color: black;
font-family: 'Montserrat', sans-serif;
font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.customnav{
 background-color: lightsalmon;
    font-size: 40px;
font-family: 'Montserrat', sans-serif;
   padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
    text-align: center;
    
}

a:link, a:visited {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
	}

a:hover{
background-color: white;
    ;
}

.sectioncontainer{
    padding: 20px;
   font-family: 'Do Hyeon', sans-serif;
    font-size: 40px;
    text-align: center;
    
    
}

.bandpic{
border-bottom-color: pink;
    height: 200px;
}

body{
background-image: url('images/pi.png');
    background-size: 150%;

}

#merchcarousel{
width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#app{
color: black;
font-family: 'Do Hyeon', sans-serif;
    font-size: 35px;
    font-weight: bolder;
        
}



#map {
  height: 500px;
  border-radius: 25px;
}

.main {
  background-color: rgba(34, 55, 71, 0.8);
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  min-height: 350px;
  padding: 25px;
  color: #add4ff;
  font-family: "Poppins";
  font-size: 16px;
}

.content {
  font-size: 14px;
  color: black;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

button {
    background-color: #ad27bc;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
}

input {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}

span {
  color: #da77ff;
}

#egg {
padding-left: 250px;
}